@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MVC video rentals app!</h1>
    <p class="lead">
        A user can browse the movie collection but only admin can create rentals. <br />
        Also, only admin can access the customers page and edit movies. <br /> To login as admin: booris89@gmail.com /// Dota4ever?
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Application uses jquery to power front end and to interact with API controllers. Several different plugins were used. Database was created by EF...
        </p>
        <p><a class="btn btn-default" href="https://github.com/BorisTheBlade89?tab=repositories">See the rest of my projects! &raquo;</a></p>
    </div>
    
</div>